extends layout 

block content 
  form(action='/presentazione/speaker/'+ tutorial method='POST')
    .form-group
      label(for='speaker') Selezionare gli spaker:
        for speakers in speaker
          label= speakers.usernameSpeaker
          input(
              type= 'checkbox'
              name= 'listaspeaker'
              value= speakers.usernameSpeaker
          )
    button.btn.btn-primary(type='submit') Assegna








