extends layout 

block content
    h3= "Per diventare uno speaker è necessario essere affiliati con un università"
    form(action='' method='POST')
        .form-group
            input.input-fiel(type='text' placeholder='Università' name='uni')
        .form-group
            input.input-field(type='text' placeholder='Dipartimento' name='dipartimento')
        button.btn.btn-primary(type='submit') Diventa un speaker!