doctype html
head
  title Confvirtual
  script(type='text/javascript').
nav
  a(href='/homepage')
    p  Confivirtual 
  a(href='/conferenza')
    p  Conferenze
  a(href=`/profilo`)
    p  Profilo 
  
block content