doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Autore
h2='Crea un nuovo Autore'
// your content here...
form(action='' method='POST')
  .form-group
    label(for='auto') Nome
    input#nome.form-control(type='text' name='nome')
  .form-group
    label(for='cognome') Cognome
    input#cognome.form-control(type='text' name='cognome')
  button.btn.btn-primary(type='submit') Crea
form(action='/conferenza/' method='GET')
    button.btn.btn-primary(type='submit') Conferenze