extends layout 

block content
    h2= 'Articolo: '+articolo

    form(action='/presentazione/articolo/'+ articolo method='POST' enctype='multipart/form-data')
        .form-group
            label(for='titolo') titolo:
            input#titolo.form-control(type='text' name='titolo')
        .form-group
            label(for='pagine') numero pagine:
            input#pagine.form-control(type='num' name='pagine')
        .form-group
            label(for='PDF') pdf:
            input#PDF.form-control(type='file' name='PDF')
        
        button.btn.btn-primary(type='submit') Crea
