doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Conferenza
h2= "Nuova conferenza"
// your content here...
form(action='/conferenza/nuovaConferenza1-3' method='POST')
  .form-group
    label(for='acronimo') Acronimo
    input#acronimo.form-control(type='text' name='acronimo')
  .form-group
    label(for='anno') Anno
    input#anno.form-control(type='text' name='anno')
  .form-group
    label(for='logo') Logo
    input#logo.form-control(type='text' name='logo')
  .form-group
    label(for='dataInizio') DataInizio
    input#dataInizio.form-control(type='date' name='dataInizio')
  .form-group
    label(for='dataFine') DataFine
    input#dataFine.form-control(type='date' name='dataFine')
  .form-group
    label(for='nome') Nome
    input#nome.form-control(type='text' name='nome')
  .form-group
    label(for='creatore') Creatore
    input#creatore.form-control(type='text' name='creatore')
  button.btn.btn-primary(type='submit') Crea