extends layout 

block content
  .container.mt-4.col-5
      .card
        .card-body
          h2= "Creazione di uno sponsor"
          form(action='/sponsor/nuovoSponsor' method='POST' enctype='multipart/form-data')
            .form-group
              label(for='nome') Nome
              input#nome.form-control(type='text' name='nome')
            .form-group
              label(for='logo') Logo
              input(type='file' name='image' accept='image/*')
            button.btn.btn-primary(type='submit') Crea

          form(action='/conferenza/nuovaConferenza3-3/'+acronimo+'/'+anno method='GET')
            button.btn.btn-primary(type='submit') Torna a sponsorizzazioni