extends layout 

block content
    h2= 'Tutorial: '+ tutorial

    form(action='/presentazione/tutorial/'+tutorial method='POST')
        .form-group
            label(for='titolo') titolo:
            input#titolo.form-control(type='text' name='titolo')
        .form-group
            label(for='abstract') abstract:
            input#abstract.form-control(type='text' name='abstract')
        button.btn.btn-primary(type='submit') Crea
