extends layout 

block content 
  .container.mt-4.col-5
    .card
      .card-body
        form(action='/signUp' method='POST')
          .form-group
            label(for='username') Username
            input#username.form-control(type='text' name='username')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password' name='password')
          .form-group
            label(for='passwordConfirm') Password
            input#passwordConfirm.form-control(type='password' name='passwordConfirm')
          br
          .form-group
            label(for='nome') Nome
            input#nome.form-control(type='text' name='nome')
          .form-group
            label(for='cognome') Cognome
            input#cognome.form-control(type='text' name='cognome')
          .form-group
            label(for='luogoNascita') Luogo di nascita
            input#luogoNascita.form-control(type='text' name='luogoNascita')
          .form-group
            label(for='dataNascita') Data di nascita
            input#dataNascita.form-control(type='date' name='dataNascita')
          button.btn.btn-primary.mt-3(type='submit') Sign in
