extends layout

block content
    div.row-2
        div.col-7

            h3= 'Tutorial: '+ tutorial[0].titolo 
            h5='Speaker: '
                each tutorials in tutorial
                    - var url= '../utenti/'+ tutorials.speaker//ancora non c'è il link
                        a(href= url)
                            h5= tutorials.speaker
            h5= 'Abstract: '+tutorial[0].abstract
           
                    


