html, body{
  height: 100vh;
}

#sidebar{
  margin-top: 15%;
}

a {
  color: #00B7FF;
}

img { 
  height: 10%;
  width:10%;
}

#icon{
  height: 5%;
  width: 5%;
}

#fiore{
  width: 60%;
}

#teams{
  width: 100%;;
}

.sponsor{
  height: 50%;
  width: 50%;
}
.num{
  color: #0d6efd
}

#contornoBottoni {
  border-radius: 5%;
  border: black;
  height: 30%;
  width: 20%;
}

#logo{
  width: 70%;
  height: 80%;
}