html, body{
  height: 100vh;
  overflow-y: hidden;

}

#sidebar{
  margin-top: 15%;
}

a {
  color: #00B7FF;
}

img { 
  height: 10%;
  width:10%;
}

#contornoBottoni {
  border-radius: 5%;
  border: black;
  height: 30%;
  width: 20%;
}